* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #020617;
    color: #e2e8f0;
    font-family: "Press Start 2P", cursive;
    min-height: 100vh;
}

h1 {
    color: #f97316;
    font-size: 2rem;
    text-align: center;
    padding-top: 40vh;
}
